//- footer
//-mj-section(background-color="#e6e6e6" padding='20px 32px')
mj-section(background-color="#1a1a1a" padding='20px 32px')
    mj-column(width='320px')
        mj-image(width='140px' padding='0' border='none' align='center' target='_blank' src='https://i.ibb.co/8K8y4kW/ECOSUP-CAMPUS-Blanc012024.png' href='https://ecosup-campus.com' alt='Logo Ecosup Campus')/
        mj-text(padding='0' align='center' mj-class="T13-400") #[a(style="text-decoration:none;color:#b3b3b3" href="https://urlr.me/WS5h6U") 17 Place Charles et Albert Roussel]
        mj-text(padding='0' align='center' mj-class="T13-400" text-transform='uppercase') #[a(style="text-decoration:none;color:#b3b3b3" href="https://urlr.me/WS5h6U") 59200 Tourcoing]
        mj-text(padding='0' align='center' mj-class="T13-400") #[a(style='text-decoration:none;font-weight:700;color:#b3b3b3;' href='tel:0320700606') Tél 03.20.70.06.06]               
        mj-text(padding='0' align='center' mj-class="T13-400") #[a(style='text-decoration:none;color:#b3b3b3;' href='mailto:contact@ecosup-campus.fr') contact@ecosup-campus.fr]
        mj-text(padding='0' align='center' mj-class=" T13-400") #[a(style='text-decoration:none;font-weight:700;color:#b3b3b3;' href='https://ecosup-campus.fr') www.ecosup-campus.fr] 