mj-section
    mj-column
        mj-social(align="center" icon-size="20px" mode="horizontal" )
            mj-social-element(name='facebook' href="#" target="_blank" alt="icon facebook")
            mj-social-element(name="instagram" href="#" target="_blank" alt="icon instagram")
            mj-social-element(name="linkedin" href="#" target="_blank" alt="icon linkedin")  
