mj-section
    mj-column
        mj-social(align="center" icon-size="20px" mode="horizontal" )
            mj-social-element(name='facebook' href="#")
            mj-social-element(name="instagram" href="#")
            mj-social-element(name="linkedin" href="#")
