mj-section(background-color="#1a1a1a" padding="0")
    mj-column
        mj-social(align="center" icon-size="30px" icon-height="30px" inner-padding="20px" mode="horizontal")
            mj-social-element(src="https://i.ibb.co/99m2HwcM/facebook-Gris.png" href="https://www.facebook.com/EcosupCamp/" target="_blank" alt="icon facebook")
            mj-social-element(src="https://i.ibb.co/xqhcdmtf/instagram-Gris.png" href="https://www.instagram.com/ecosup.campus/" target="_blank" alt="icon instagram")
            mj-social-element(src="https://i.ibb.co/9H8VZWmK/linkedin-Gris.png" href="https://www.linkedin.com/company/ecosup-campus" target="_blank" alt="icon linkedin")  
