//- Itineraire
mj-wrapper(background-color="#ffffff" padding="20px")
    mj-section(padding="0px")
        mj-column(width="450px")
            mj-text(align="center" padding="0" mj-class="T24-300 cT1") Où nous trouver
            mj-text(align="center" padding="0" padding-bottom="10px" mj-class="T13-400 cT0") cliquez sur l'icon de votre choix pour organiser votre itinéraire
    mj-section(padding="0px")
        mj-group(width="225px")
            mj-column(width="33.333333%")
                mj-image(align="right" padding="10px" width="75px" src="https://i.ibb.co/DPZSYNzY/google-Map96x96x2.png" alt="google maps" href="https://www.google.com/maps/search/?api=1&query=Ecosup-campus,+17+place+Charles+et+Albert+Roussel,+59200+Tourcoing")/
            mj-column(width="33.333333%")
                mj-image(align="center" padding="10px" width="75px" src="https://i.ibb.co/zTWty3n5/waze96x96x2.png" alt="waze" href="https://waze.com/ul?q=Ecosup-campus,+17+place+Charles+et+Albert+Roussel,+59200+Tourcoing")/
            mj-column(width="33.333333%")
                mj-image(align="left" padding="10px" width="75px" src="https://i.ibb.co/6c99Z3Jt/apple-Maps96x96x2.png" alt="apple maps" href="http://maps.apple.com/?q=Ecosup-campus,+17+place+Charles+et+Albert+Roussel,+59200+Tourcoing")/
mj-section(mj-class="bg1" padding="0 20px")
    mj-column
        mj-text(align="center" padding="14px 0" mj-class="T24-700" color="#ffffff"  letter-spacing="2px") #[a(style="text-decoration:none;color:#ffffff;" href="https://ecosup-sante.fr/dietetique" target="_blank") www.ecosup-dietetique.fr]