//-Travel week
mj-section(background-color="#e6e6e6" padding="20px")
    mj-group(width="40%")
        mj-column(width="50%")
            mj-image(align="right" padding="5px" width="150px" src="https://i.ibb.co/CKjNszKS/04jpo2025article-Tour.png" alt="panneau de contôle du nombre de vols commerciaux")/
            mj-image(align="right" padding="5px" width="150px" src="https://i.ibb.co/9Hm2RHdj/01jpo2025article-Tour.png" alt="Embarquement")/
        mj-column(width="50%")
            mj-image(align="left" padding="5px" width="150px" src="https://i.ibb.co/b5PrDphd/02jpo2025article-Tour.png" alt="Hôtesse de l'air et Steward")/
            mj-image(align="left" padding="5px" width="150px" src="https://i.ibb.co/234BWrHy/03jpo2025article-Tour.png" alt="Air Training Academy")/
    mj-column(width="60%")
        mj-spacer(height="18px")
        mj-text(align="left" padding="2px 15px" mj-class="T24-700 c0") CCA : votre passeport pour une carrière dans l'aérien
        mj-text(align="left" padding="2px 15px" mj-class="T16-400 cT0") Notre formation au #[span(style="font-weight:700;color:#1a1a1a;") Cabin Crew Attestation] #[span(style="font-style:italic;") (CCA)], en partenariat avec #[span(style="font-weight:700;color:#1a1a1a;") Air Training Academy], vous prépare efficacement au métier d'hôtesse de l'air ou de steward. 
        mj-text(align="left" padding="2px 15px" mj-class="T16-400 cT0") Grâce à une #[span(style="font-weight:700;color:1a1a1a;") prise en charge complète], vous maîtriserez les compétences essentielles en sécurité, secourisme et service à bord, avec une #[span(style="font-weight:700;color:#1a1a1a;") certification reconnue par toutes les compagnies aériennes européennes].