//-Travel week
mj-section(background-color="#e6e6e6" padding="20px")
    mj-group(width="40%")
        mj-column(width="50%")
            mj-image(align="right" padding="5px" width="150px" src="https://i.ibb.co/xtNt9KbL/04jpo2025article-SM.png" alt="Remise de diplômes")/
            mj-image(align="right" padding="5px" width="150px" src="https://i.ibb.co/dw1NjsBT/03jpo2025article-SM.png" alt="Mardi gras et Carnaval à Ecosup Campus")/
        mj-column(width="50%")
            mj-image(align="left" padding="5px" width="150px" src="https://i.ibb.co/QFr1bWD5/02jpo2025article-SM.png" alt="Saint Nicolas, distribution d'un chocolat et d'une tranche de briohe")
            mj-image(align="left" padding="5px" width="150px" src="https://i.ibb.co/xSyz12V7/01jpo2025article-SM.png" alt="Mois de novembre sur le cancer de la prostate")
    mj-column(width="60%")
        mj-spacer(height="18px")
        mj-text(align="left" padding="2px 15px" mj-class="T24-700 c1") Énergie et convivialité : la vie étudiante à EcoSup Campus
        mj-text(align="left" padding="2px 15px" mj-class="T16-400 cT0") #[span(style="font-weight:700;color:#1a1a1a;") Ecosup Campus] organise toute l'année des animations variées pour #[span(style="font-weight:700;color:#1a1a1a;") dynamiser la vie étudiante] : concours photos, petits déjeuners, défis sportifs, oeufs de Pâques... 
        mj-text(align="left" padding="2px 15px" mj-class="T16-400 cT0") #[span(style="font-weight:700;color:#1a1a1a;") Une grande soirée de rentrée], axée sur le partage et l'échange, rassemble tous les étudiants après leur arrivée, #[span(style="font-weight:700;color:#1a1a1a;") favorisant les rencontres et l'intégration] au sein du campus.
