//-Travel week
mj-section(background-color="#e6e6e6" padding="20px")
    mj-group(width="40%")
        mj-column(width="50%")
            mj-image(align="right" padding="5px" width="150px" src="https://i.ibb.co/rGYVNdzT/01jpo2025article-Com.png" alt="Pour séduire les entreprises le cvBook")/
        mj-column(width="50%")
            mj-image(align="left" padding="5px" width="150px" src="https://i.ibb.co/KxnyTYRF/01jpo2025article-Ass.png" alt="Grafton recruitment spécialiste du coaching aide nos étudiant dans leur recherche d'alternance")/
        mj-column(width="100%")
            mj-image(align="center" padding="5px" width="310px" src="https://i.ibb.co/7dV86ky4/02jpo2025article-Com.png" alt="Job Dating pour réunir entreprises et étudiants")/
    mj-column(width="60%")
        mj-spacer(height="18px")
        mj-text(align="left" padding="2px 15px" mj-class="T24-700 c1") Ecosup Commerce : mobilisés pour votre apprentissage !
        mj-text(align="left" padding="2px 15px" mj-class="T16-400 cT0") Chez #[span(style="font-weight:700;color:#1a1a1a;") Ecosup Commerce], nous mettons tout en œuvre pour vous aider à trouver votre apprentissage.
        mj-text(align="left" padding="2px 15px" mj-class="T16-400 cT0") Grâce à nos #[span(style="font-weight:700;color:#1a1a1a;") CV books], nos #[span(style="font-weight:700;color:#1a1a1a;") job dating] et nos partenariats avec des #[span(style="font-weight:700;color:#1a1a1a;") entreprises engagées] #[span(style="font-style:italic") (Grafton recruitment)], nous vous accompagnons et vous préparons au mieux pour décrocher l'apprentissage idéal.
        mj-text(align="left" padding="2px 15px" mj-class="T16-400 cT0") Votre réussite est notre priorité !