//-Travel week
mj-section(background-color="#e6e6e6" padding="20px")
    mj-group(width="40%")
        mj-column(width="50%")
            mj-image(align="right" padding="5px" width="150px" src="https://i.ibb.co/ZRRTt0rp/photo03.png" alt="Découverte de Prague avec les étudiants en Bachelor Hôtellerie Restauration et Tourisme")/
            mj-image(align="right" padding="5px" width="150px" src="https://i.ibb.co/RkV6z7qF/photo04.png" alt="Conférences et participations aux cours... tout se déroule en anglais")/
        mj-column(width="50%")
            mj-image(align="left" padding="5px" width="150px" src="https://i.ibb.co/FkKwrsCW/photo02.png" alt="De nombreux challenges pour améliorer ses connaissances métiers")/
            mj-image(align="left" padding="5px" width="150px" src="https://i.ibb.co/8nG4xC4H/photo01.png" alt="Découverte de la ville : le tramway de la ville de Prague")/
    mj-column(width="60%")
        mj-spacer(height="18px")
        mj-text(align="left" padding="2px 15px" mj-class="T24-700 c1") Travel Week&nbsp;: destination Prague en Tchéquie
        mj-text(align="left" padding="2px 15px" mj-class="T16-400 cT0") Une semaine totalement dédiée à la culture du voyage et de l'hôtellerie restauration.
        mj-text(align="left" padding="2px 15px" mj-class="T16-400 cT0") #[span(style="font-weight:700;color:#1a1a1a;") 100% prise en charge], vous profiterez d'un programme alliant des challenges, des cours et de nombreuses visites touristiques en anglais de la ville et de ses attractions.
        mj-text(align="left" padding="2px 15px" mj-class="T16-400 cT0") Une semaine pour progresser, voyager, rencontrer, s'amuser, profiter…
        mj-text(align="left" padding="2px 15px" mj-class="T16-400 cT0") Faites vos valises, #[span(style="font-weight:700;color:#1a1a1a;") embarquement en mars 2026.]