//-Travel week
mj-section(background-color="#e6e6e6" padding="20px")
    mj-group(width="40%")
        mj-column(width="50%")
            mj-image(align="right" padding="5px" width="150px" src="https://i.ibb.co/whPywHFL/tour1.jpg" alt="")
            mj-image(align="right" padding="5px" width="150px" src="https://i.ibb.co/whPywHFL/tour1.jpg" alt="")
        mj-column(width="50%")
            mj-image(align="left" padding="5px" width="150px" src="https://i.ibb.co/whPywHFL/tour1.jpg" alt="")
            mj-image(align="left" padding="5px" width="150px" src="https://i.ibb.co/whPywHFL/tour1.jpg" alt="")
    mj-column(width="60%")
        mj-text(align="left" padding="2px 15px" mj-class="T13-700 c0" text-transform="uppercase") Travel Week
        mj-text(align="left" padding="2px 15px" mj-class="T24-700 cT1") Immersion dans un pays européen
        mj-text(align="left" padding="2px 15px" mj-class="T16-400 cT0") Des étudiants ont passé une semaine d'immersion à Prague, une expérience unique pour améliorer leur anglais. Le matin, des cours interactifs en langue anglaise les attendaient, renforçant leurs compétences. L'après-midi, ils exploraient la richesse culturelle de la ville : le château, le pont Charles, et les ruelles pittoresques. Un voyage éducatif enrichissant dans un décor magique. 