//-formations Hôtellerie 
mj-section(padding="20px" padding-bottom="0px" background-color="#ffffff")
    mj-column(width="88%")
        mj-text(align="center" padding="0" mj-class="T24-300 cT1") Nos formations en Hôtellerie Restauration de Bac+2 à Bac+5
//-formation MAN
mj-section(padding="20px" background-color="#ffffff")
    mj-column(width="20%" vertical-align="top" background-color="#f2f2f2")
        mj-image(align="left" padding="0" width="112px" src="https://i.ibb.co/qLYWKwdd/01hotjpo26042025.png" alt="formation Mise à niveau découverte de l'hôtellerie et de la restauration")/
    mj-column(width="80%" vertical-align="top")
        mj-spacer(height="20px")
        mj-button(align="left" padding="0px 15px" inner-padding="1px 8px" mj-class="T13-400 cT1" background-color="#e6e6e6" border-radius="2px") Formation initiale
        mj-text(align="left" padding="2px 15px" mj-class="T24-300 cT1") #[span(style="color:#c21718;") &#x27A4;] #[span(style="font-weight:700;") MAN] Mise à Niveau Hôtellerie Restauration
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Post-Bac,
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 1 an],
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0")  
            | #[span(style="color:#d9d9d9;") &#x25CF;] Le Plus : #[span(style="font-weight:700;color:#1a1a1a;") Bourse Ecosup],
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Formation initiale ou continue. Financement possible grâce à la mobilisation du CPF ou autres organismes extérieurs.
        mj-button(align='center' padding-top="15px" border-radius="5px" background-color="#f2f2f2" mj-class="T13-700 c0" target="_blank" href="https://ecosup-hotellerie.fr/mise-a-niveau-2") 
            | En savoir plus&nbsp;&nbsp;#[img(width="12px" src="https://i.ibb.co/PsQFDFLq/fleche-Hotellerie.png" alt="flèche hôtellerie rouge")/]
//-formation BTS        
mj-section(padding="20px" background-color="#ffffff")
    mj-column( width="20%" vertical-align="top" background-color="#f2f2f2")
        mj-image(align="left" padding="0" width="112px" src="https://i.ibb.co/gXWrw2j/02hotjpo26042025.png" alt="formation BTS Management Hôtellerie Restauration")/
    mj-column(width="80%" vertical-align="top")
        mj-spacer(height="20px")
        mj-button(align="left" padding="0px 15px" inner-padding="1px 8px" mj-class="T13-400 cT1" background-color="#e6e6e6" border-radius="2px") Formation en apprentissage
        mj-text(align="left" padding="2px 15px" mj-class="T24-300 cT1") #[span(style="color:#c21718;") &#x27A4;] #[span(style="font-weight:700;") BTS] Management de l'Hôtellerie - Restauration
        mj-text(align="left" padding="0px 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Post-Bac,
        mj-text(align="left" padding="0 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 2 ans],
        mj-text(align="left" padding="0 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Le Plus : #[span(style="font-weight:700;color:#1a1a1a;") Diplôme reconnue par l'État],
        mj-text(align="left" padding="0 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Formation gratuite et rémunérée.
        mj-button(align='center' padding-top="15px" border-radius="5px" background-color="#f2f2f2" mj-class="T13-700 c0" target="_blank" href="https://ecosup-hotellerie.fr/bts-management-hotellerie-restauration-apprentissage")
            | En savoir plus&nbsp;&nbsp;#[img(width="12px" src="https://i.ibb.co/PsQFDFLq/fleche-Hotellerie.png" alt="flèche hôtellerie rouge")/]
//-formation Bachelor 
mj-section(padding="20px" background-color="#ffffff")
    mj-column(width="20%" vertical-align="top" background-color="#f2f2f2")
        mj-image(align="left" padding="0" width="112px" src="https://i.ibb.co/k6MkhkF4/03hotjpo26042025.png" alt="formation Bachelor Chargé(e) de Gestion commerciale en Hôtellerie")/
    mj-column(width="80%" vertical-align="top")
        mj-spacer(height="20px")
        mj-button(align="left" padding="0px 15px" inner-padding="1px 8px" mj-class="T13-400 cT1" background-color="#e6e6e6" border-radius="2px") Formation en apprentissage
        mj-text(align="left" padding="2px 15px" mj-class="T24-300 cT1") #[span(style="color:#c21718;") &#x27A4;] #[span(style="font-weight:700;") Bachelor] Chargé(e) de Gestion commerciale en Hôtellerie
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Post-Bac+2,
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 1 an],
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Le Plus : #[span(style="font-weight:700;color:#1a1a1a;") Travel Week], semaine immersive en mobilité internationale,
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0")
            | #[span(style="color:#d9d9d9;") &#x25CF;] Formation gratuite et rémunérée.
        mj-button(align='center' padding-top="15px" border-radius='5px' background-color="#f2f2f2" mj-class="T13-700 c0" target="_blank" href="https://ecosup-hotellerie.fr/bachelor-charge-de-gestion-commerciale-en-hotellerie")
            | En savoir plus&nbsp;&nbsp;#[img(width="12px" src="https://i.ibb.co/PsQFDFLq/fleche-Hotellerie.png" alt="flèche hôtellerie rouge")/]
//- formation Mastère
mj-section(padding="20px" background-color="#ffffff")
    mj-column(width="20%" vertical-align="top" background-color="#f2f2f2")
        mj-image(align="left" padding="0" width="112px" src="https://i.ibb.co/CspDpSLS/04hotjpo26042025.png" alt="Mastère Manager des organisations en hôtellerie")/
    mj-column(width="80%" vertical-align="top")
        mj-spacer(height="20px")
        mj-button(align="left" padding="0px 15px" inner-padding="1px 8px" border-radius="2px" background-color="#e6e6e6" mj-class="T13-400 cT1") Formation en apprentissage
        mj-text(align="left" padding="2px 15px" mj-class="T24-300 cT1") #[span(style="color:#c21718;") &#x27A4;] #[span(style="font-weight:700;") Mastère] Manager des Organisations en Hôtellerie
        mj-text(padding="0 15px" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Post-Bac+3,
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 2 ans],
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Le Plus : #[span(style="font-weight:700;color:#1a1a1a;") Double certification internationale],
        mj-text(padding="0 15px" align="left" mj-class="T16-400 cT0") 
            | #[span(style="color:#d9d9d9;") &#x25CF;] Formation gratuite et rémunérée.
        mj-button(align='center' padding-top="15px" border-radius="5px" background-color="#f2f2f2" mj-class="T13-700 c0" target="_blank" href="https://ecosup-hotellerie.fr/mastere-manager-organisations-hotellerie")
            | En savoir plus&nbsp;&nbsp;#[img(width="12px" src="https://i.ibb.co/PsQFDFLq/fleche-Hotellerie.png" alt="flèche Hôtellerie rouge")/]