//-Travel week
mj-section(background-color="#e6e6e6" padding="20px")
    mj-column(width="40%" background-color="#EC6608")
        mj-image(align="center" fluid-on-mobile='true' padding="0px" width="600px" src="https://i.ibb.co/gLV3YSBd/Grand-Partenaire.png" alt="Découverte de Prague avec les étudiants en Bachelor Hôtellerie Restauration et Tourisme")
        mj-button(align='center' border-radius="0px" padding="0px" mj-class="T13-700" background-color="#EC6608" color="#ffffff" target="_blank" href="https://vimeo.com/1056301313") 
            | voir la vidéo&nbsp;&nbsp;#[img(width="12px" src="https://i.ibb.co/4ZRXYT7M/fleche-Blanche.png" alt="flèche Sup-Véto blanche")]
    mj-column(width="60%")
        mj-spacer(height="18px")
        mj-text(align="left" padding="2px 15px" mj-class="T24-700 c0") Les Trophées Vet Nurse Day 2025
        mj-text(align="left" padding="2px 15px" mj-class="T16-400 cT0") #[span(style="font-weight:700;color:#1a1a1a;") Sup-Véto], réseau de 29 écoles en France, forme les Auxiliaires spécialisés vétérinaire (ASV) via une approche mêlant théorie et pratique.
        mj-text(align="left" padding="2px 15px" mj-class="T16-400 cT0") #[span(style="font-weight:700;color:#1a1a1a;") Partenaire des Trophées Vet Nurse Day 2025] avec Dr Patounes, #[span(style="font-weight:700;color:#1a1a1a;") Sup-Véto] valorise le rôle essentiel des ASV en clinique vétérinaire. Ce partenariat reflète des valeurs communes et met en avant leur impact quotidien.